@import 'utilities/variables';

.header{
    background: $bg;
    z-index: 998;
    position: sticky;
    top: 0;
    transition: all .3s;
    width: 100%;
    &.sticky{
        box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
        top: -78px;
        .header-inner{
            .header-right{
                top: 95px;
            }
        }
    }
    .navigation{
        .inner{
            position: relative;
            display: grid;
            grid-template-columns: 230px 1fr;
            justify-content: space-between;
            align-items: center;
            max-width: 1440px;
            margin: auto;
            padding: 6px 0;
            @media only screen and (max-width: $laptop_breakpoint){
                display: flex;
            }
            .logo{
                margin-right: 20px;
                max-width: 210px;
            }
            .hamburger{
                border: transparent;
                display: none;
                align-items: center;
                padding: 0;
                background: transparent;
                @media only screen and (max-width: $laptop_breakpoint){
                    display: flex;
                }
                svg{
                    width: 50px;
                    height: auto;
                    margin: 0;
                    fill: $black;
                }
                .line{
                    transition: y 0.15s ease-in 0.15s, rotate 0.15s ease-in, opacity 0ms 0.15s, fill 0.3s, x 0.3s;
                    transform-origin: center;
                    height: 6px;
                }
                &[aria-expanded="true"]{
                    .line{
                        transition: y 0.15s ease-in, rotate 0.15s ease-in 0.15s, opacity 0ms 0.15s, x 0.3s;
                    }
                    :is(.top, .bottom) {
                        y: 48;
                    }
                    .top {
                        rotate: 45deg;
                    }
                    .middle {
                        opacity: 0;
                        x: 10;
                    }
                    .bottom {
                        rotate: -45deg;
                    }
                }
            }
            .custom-button{
                position: absolute;
                content: '';
                top: 0;
                right: 0;
                @media only screen and (max-width: $laptop_breakpoint){
                    position: fixed;
                    top: auto;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    a{
                        width: 100%;
                    }
                }
            }
            .header-right{
                margin-top: 20px;
                .main-nav{
                    #main-menu{
                        display: flex;
                        list-style: none;
                        padding: 0;
                        margin: 0;
                        gap:20px;
                        align-items: end;
                        justify-content: end;
                        > li{
                            position: relative;
                            padding: 0 5px;
                            a{
                                font-size: 18px;
                                font-weight: 500;
                                line-height: 20px;
                                display: block;
                                position: relative;
                                color: $black;
                                text-decoration: none;
                                &:hover{
                                    color: $primary;
                                }
                            }
                        }
<<<<<<< HEAD
                        @media only screen and (max-width:1440px){
=======
                        @media only screen and (max-width:$desktop_breakpoint){
>>>>>>> e97dcdd3578e934c957d69af53c709ab1d414c61
                            gap:15px;
                            > li{
                                a{
                                    font-size: 16px;
                                }
                            }
                        }
                        .menu-item-has-children{
                            cursor: pointer;
                            > a{
                                padding-right: 20px;
                            }
                            .nav-icon-container{
                                position: relative;
                                i{
                                    position: absolute;
                                    cursor: pointer;
                                    font-size: 20px;
                                    right: -22px;
                                    top: -20px;
                                    transition: 0.2s;
                                }
                            }
                            .sub-menu{
                                visibility: hidden;
                                opacity: 0;
                                padding-inline-start: 0;
                                transition: visibility 0s, opacity 0.3s;
                                position: absolute;
                                top: auto;
                                background: $white;
                                padding: 0;
                                width: 290px;
                                left: calc(100% + 45px);
                                transform: translateX(-50%);
                                z-index: -1;
                                animation: growDown 300ms ease-in-out forwards;
                                transform-origin: top center;
                                display: none;
                                box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
                                @keyframes growDown {
                                    0% {
                                        transform: scaleY(0) translateX(-50%)
                                    }
                                    80% {
                                        transform: scaleY(1.1) translateX(-50%)
                                    }
                                    100% {
                                        transform: scaleY(1) translateX(-50%)
                                    }
                                }
                                @media only screen and (min-width:1260px){
                                    margin-top: 20px;
                                }
                                li{
                                    list-style: none;
                                    width: 100%;
                                    @media only screen and (max-width: $tablet_breakpoint){
                                        border-bottom: solid 1px $primary;
                                    }
                                    a{
                                        font-size: 16px;
                                        line-height: 24px;
                                        font-weight: 500;
                                        color: $black;
                                        text-align: left;
                                        text-transform: capitalize;
                                        padding: 10px 20px;
                                        &:hover{
                                            background-color: $primary;
                                            color: $white;
                                        }
                                    }
                                    &.current_page_item {
                                        a{
                                            background-color: $primary;
                                            color: $white;
                                        }
                                    }
                                }
                            }
                            &.open{
                                .sub-menu{
                                    visibility: visible;
                                    opacity: 1;
                                    display: block;
                                    z-index: 9999;
                                }
                                .nav-icon-container{
                                    i{
                                        transform: rotate(180deg);
                                    }
                                }
                            }
                        }
                    }
                }
                @media only screen and (max-width: $laptop_breakpoint){
                    display: block;
                    background-color: $white;
                    position: absolute;
                    top:139px;
                    bottom: 0;
                    left: -40px;
                    right: -40px;
                    padding: 0;
                    transform-origin: top center;
                    padding: 0;
                    display: none;
                    background-color: $black;
                    height: calc(100vh - 165px);
                    overflow-y: scroll;
                    &.show{
                        z-index: 999;
                        display: block;
                        animation: growDown 300ms ease-in-out;
                    }
                    @keyframes growDown {
                        0% {
                            transform: scaleY(0)
                        }
                        80% {
                            transform: scaleY(1.1)
                        }
                        100% {
                            transform: scaleY(1)
                        }
                    }
                    .main-nav{
                        #main-menu{
                            display: block;
                            margin: 0;
                            padding: 0;
                            li{
                                padding: 0;
                                a{
                                    font-size: 18px;
                                    line-height: 54px;
                                    color: $white;
                                    padding: 5px 20px;
                                    border-bottom: solid 1px $white;
                                    &:hover{
                                        color: $white;
                                    }
                                }
                                &.menu-item-has-children{
                                    a{
                                        &:after{
                                            display: none;
                                        }
                                    }
                                    .nav-icon-container{
                                        i{
                                            font-size: 28px;
                                            right: 0;
                                            top: -40px;
                                            transform: rotate(-90deg);
                                        }
                                    }
                                    &.open{
                                        .sub-menu{
                                            position: relative;
                                            width: 100%;
                                            left: 0;
                                            top: 0;
                                            transform:none;
                                            z-index: 99;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                @media only screen and (max-width: $mobile_breakpoint){
                    top: 139px;
                    height: calc(100vh - 140px);
                    left: -20px;
                    right: -20px;
                }
            }
        }
    }
}