.grid-section{
    background-color: $black;
    .grid{
        display: grid;
        grid-template-columns: 55% 1fr;
        gap: 50px;
        @media only screen and (max-width: $laptop_breakpoint){
            grid-template-columns: 1fr;
            gap: 20px;
        }
        .grid-item{
            h2{
                font-size: 45px;
                color: $white;
                @media only screen and (max-width: $mobile_breakpoint){
                    font-size: 32px;
                    line-height: 40px;
                }
            }
            p{
                font-size: 18px;
                color: $white;
                margin-bottom: 35px;
            }
            strong,b{
                font-size: 20px;
                color: $primary;
                display: block;
                margin-bottom: 5px;
            }
            ul{
                padding-left: 20px;
                display: flex;
                flex-direction: column;
                gap: 25px;
                li{
                    font-size: 24px;
                    color: $white;
                    font-weight: 300;
                    &::marker{
                        color: $primary;
                    }
                    strong,b{
                        display: inline-block;
                    }
                    a{
                        &:hover{
                            strong,b{
                                text-decoration: underline;
                            }
                        }
                    }
                }
            }
            .images{
                display: flex;
                flex-wrap: wrap;
                gap: 7px;
                margin-bottom: -100px;
                img{
                    box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.2);
                    width: calc(50% - 7px);
                    &:nth-child(1){
                        width: calc(100% - 7px);
                    }
                }
            }
        }
    }
}