.hero{
    .section-inner{
        position: relative;
        h1{
            position: absolute;
            top: 50%;
            left: 60px;
            right: 0;
            transform: translateY(-50%);
            color: $white;
            z-index: 99;
            margin: 0;
            font-size: $large_size;
        }
    }
}