@import '../../../css/utilities/variables';
.hero{
    max-width: $max_width;
    margin: 0 auto;
    @media only screen and (max-width: $large_screen_breakpoint){
        max-width: $full_width;
    }
    .section-inner{
        position: relative;
        .hide-mobile{
            @media only screen and (max-width:$mobile_breakpoint){
                display: none;
            }
        }
        .hide-desktop{
            display: none;
            @media only screen and (max-width:$mobile_breakpoint){
                display: block;
            }
        }
        .hero-caption{
            position: absolute;
            top: 50%;
            left: 60px;
            right: 0;
            transform: translateY(-50%);
            z-index: 99;
            max-width: 500px;
            @media only screen and (max-width:$mobile_breakpoint){
                left: 20px;
                right: 20px;
                margin: 0 auto;    
            }
            h1{
                color: $white;
                margin: 0;
                font-size: 30px;
            }
            p{
                color: $white;
            }
        }
    }
}