@import 'variables';
.btn{
    font-family: $font;
    font-size: 20px;
    font-weight: 400;
    transition: all .3s;
    text-decoration: none;
    display: inline-block;
    padding: 12px 20px;
    border-radius: 0px;
    text-align: center;
    &.btn-primary{
        background-color: $primary;
        color: $black;
        outline: none;
        border: solid 1px $primary;
    }
    &.small{
        padding: 12px 24px;
    }
    &:hover{
        background-color: $black;
        color: $primary;
        border-color: $black;
    }
}