$max_width: 1320px;

// Responsive Breakpoint Variables
$desktop_breakout: 1299px;
$laptop_breakpoint: 1199px;
$tablet_breakpoint: 991px;
$mobile_breakpoint: 767px;

$padding_desktop: 0 60px;
$padding_mobile: 0 20px;

// Colors Variables
$black: #000000;
$white: #FFFFFF;
$primary: #2c98d4;