.slider{
    .pre{
        text-align:center;
        max-width: 1000px;
        margin: 0 auto 70px;
    }
    .swiper-slider{
        .swiper-slide{
            text-align: center;
        }
    }
}